* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.add-book {
  height: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}
