*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.single-book {
  display: grid;
  grid-template-columns: auto 1fr;
}

.about-book {
  display: flex;
  flex-direction: column;
  row-gap: 1.31rem;
}